<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.semi.member.model.mapper.MemberMapper">
	<select id="login" resultType="Member">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_PW, MEMBER_TEL,AUTHORITY,
		MEMBER_NICKNAME, PROFILE_IMG, TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') ENROLL_DATE
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{memberEmail}
		and MEMBER_DEL_FL = 'N'
	</select>
  
  	<select id="getEmail">
		SELECT COUNT(*) FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{inputEmail}
	</select>
	
	<insert id="signup">
		INSERT INTO "MEMBER"
		VALUES(MEMBER_NO_SEQ.NEXTVAL, #{memberEmail}, #{memberPw}, #{memberTel},  #{memberNickname},
		NULL, DEFAULT, DEFAULT, DEFAULT)
	</insert>

	<select id="countMember" resultType="_int">
		SELECT COUNT(*)
		FROM "MEMBER"
		WHERE MEMBER_DEL_FL = 'N'
	</select>
	
	<select id="getEncryptedPw">
		SELECT MEMBER_PW 
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{memberEmail}
	</select>
		
	<select id="findId" resultType="String">
		SELECT "MEMBER_EMAIL"
		FROM "MEMBER"
		WHERE MEMBER_TEL = #{memberTel}
	</select>
	

	<select id="emailRedundancy" resultType="_int">
		SELECT COUNT(*) FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{memberEmail}
	</select>
	
	<select id="nickNameRedundancy" resultType="_int">
		SELECT COUNT(*) FROM "MEMBER"
		WHERE MEMBER_NICKNAME= #{memberNickname}
	</select>

	<update id="profile">
		UPDATE "MEMBER"
		SET
		PROFILE_IMG = #{profileImg},
		MEMBER_NICKNAME = #{memberNickname}
		WHERE MEMBER_NO = #{memberNo}
	</update>

	<select id="checkPw" resultType="String">
		SELECT MEMBER_PW
		FROM "MEMBER"
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<update id="changePw">
		UPDATE "MEMBER"
		SET
		MEMBER_PW = #{newPw}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<update id="withdrawal">
		UPDATE "MEMBER"
		SET
		MEMBER_DEL_FL = 'Y'
		WHERE MEMBER_NO = #{memberNo}
	</update>
</mapper>
