*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}


.mainArea{
    width: 70%;
    display: flex;
    margin: auto;

}

.mainClass{
    width: 100%;
    margin: 5px;
    height: 100%;
}



.ImgBtnArea{
    border: 1px solid #ccc;
    margin: 15px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.ImgBtnArea>a{
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
}


.ImgBtnArea>a>img{
    width: 90%;
    height: auto;
    margin: 10px;

}

.mainImg{
    display: flex;
    margin: 15px;
    justify-content: center;
    align-items: center;
}
.mainImg>img{
    width: 100%;
    height: 500px;
}

.image{
    display: none;
}
.fade{
    animation-name : fade;
    animation-duration : 1.5s;
}
@keyframes fade{
    from{opacity : 0.4}
    to {opacity: 1}
}





