* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#sideMenu {
    display: block;
    height: 750px;
}

#sideMenu > div {
    margin: 10px;
    padding: 5px;
}

.menuBtnArea {
    display: flex;
    justify-content: space-around;
}

.menuBtnArea > button {
    background-color: white;
    font-weight: bold;
    padding: 3px 10px;
    cursor: pointer;
    border: none;
}

.profileArea {
    display: flex;
    align-items: center;
}

.imgArea {
    flex-basis: 30%;
    margin-right: 30px;
}

.imgArea > img {
    width: 100%;
    height: auto;
    display: block;
}

.infoArea {
    flex-basis: 60%;
    padding: 10px;
}

.infoArea > h5 {
    margin-bottom: 5px;
}

.infoArea > p {
    font-size: 12px;
    color: #666;
}

.memberCountArea, .btnClass {
    text-align: center;
}

.btnClass {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.btnClass form {
    width: 100%;  /* 폼의 너비를 100%로 설정 */
}

.btnClass button {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 13px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    background-color: #5a5a5a;
    font-weight: bold;
    border: none;
}

.btnClass button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.menuList > ul {
    list-style: none;
}

.menuList > ul > li {
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menuList > ul > li:hover {
    background-color: #f0f0f0;
}

hr {
    border: 0;
    height: 2px;
    background-color: #6CABDD;
}
