<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<link rel="stylesheet" href="/css/main-css.css">

<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>

        <div class="mainArea">

            <div class="mainClass">
                
                <div class="ImgBtnArea">
                    <img src="/images/img2.jpg" alt="">
                    <img src="/images/img3.jpg" alt="">
                </div>

                <div id="mainImg">
                    <img src="/images/mainImg1.jpg" alt="메인이미지">
                </div>

            </div>


        </div>
    </main>

    <th:block th:replace="~{common/sideMenu}"></th:block>

    <th:block th:replace="~{common/footer}"></th:block>
</body>


</html>