<link rel="stylesheet" href="/css/sideMenu.css">

<section id="sideMenu">

    <div class="menuBtnArea">
        <th:block th:if="${session.loginMember != null}">
            <form action="member/myPage">
                <button>내 정보</button>
            </form>
        </th:block>
        <th:block th:if="${session.loginMember == null}">
            <form><button>하이</button></form>
        </th:block>
        |
        <form><button>나의활동</button></form>
    </div>

    <div class="profileArea">

        <div class="imgArea">
            <img src="/images/logo.png" id="profileImg" alt="프로필 이미지">
        </div>



        <div class="imfoArea">
            <h5 id="cafeTitle">카페명</h5>
            <p id="joinDate">2024-04-22</p>
        </div>

    </div>

    <hr>

    <div class="memberCountArea">
        <p id="memberCount">145,890명</p>
    </div>

    <hr>

    <!-- 로그인 안 되어있을 때 -->
    <th:block th:if="${session.loginMember == null}">
        <div class="btnClass">
            <form action = "member/signup">
                <button id="joinBtn">가입하기</button>
            </form>
            <form action="member/login" method="GET">
                <button id="loginBtn">로그인</button>
            </form>
        </div>
    </th:block>

    <!-- 로그인 되었을 때 -->
    <th:block th:if="${session.loginMember != null}">
        <div class="btnClass">
            <form action = "board/writeBoard">
                <button id="joinBtn">글쓰기</button>
            </form>
            <form action="member/logout" method="POST">
                <button id="loginBtn">로그아웃</button>
            </form>
        </div>
    </th:block>
    <hr>

    <div class="menuList">
        <ul>
            <a href="/board/writeBoard">
                <li>글쓰기</li>
            </a>

            <li>메뉴 리스트2</li>
            <li>메뉴 리스트3</li>
            <li>메뉴 리스트5</li>
        </ul>
    </div>


</section>