<link rel="stylesheet" href="/css/sideMenu.css">

<section id="sideMenu">

    <div class="menuBtnArea">
        <th:block th:if="${session.loginMember != null}">
            <form action="/member/myPage">
                <button>내 정보</button>
            </form>
        </th:block>
        <th:block th:if="${session.loginMember == null}">
            <form><button>하이</button></form>
        </th:block>
        |
        <form><button>나의활동</button></form>
    </div>

    <div class="profileArea">

        <div class="imgArea">
            <img src="/images/logo.png" id="profileImg" alt="프로필 이미지">
        </div>



        <div class="imfoArea">
            <h5 id="cafeTitle">카페명</h5>
            <p id="joinDate">2024-04-22</p>
        </div>

    </div>

    <hr>

    <div class="memberCountArea">
        <p id="memberCount">145,890명</p>
    </div>

    <hr>

    <!-- 로그인 안 되어있을 때 -->
    <th:block th:if="${session.loginMember == null}">
        <div class="btnClass">
            <form action="/member/signup">
                <button id="joinBtn">가입하기</button>
            </form>
            <form action="/member/login" method="GET">
                <button id="loginBtn">로그인</button>
            </form>
        </div>
    </th:block>

    <!-- 로그인 되었을 때 -->
    <th:block th:if="${session.loginMember != null}">
        <div class="btnClass">
            <form action="/board/writeBoard">
                <button id="joinBtn">글쓰기</button>
            </form>
            <form action="/member/logout" method="POST">
                <button id="loginBtn">로그아웃</button>
            </form>
        </div>
    </th:block>
    <hr>

    <div class="menuList">
        <ul>
            <li><a href="/board/memberBoard?cp=1"> 회원 전용 게시판</a></li>
            <li><a href="/board/publicBoard?cp=1">전체 공개 게시판</a></li>
            <li><a href="/board/noticeBoard?cp=1">공지사항</a></li>
        </ul>
    </div>


</section>