<link rel="stylesheet" href="/css/sideMenu.css">

<section id="sideMenu">

    <div class="menuBtnArea">
        <button>카페활동</button>
        |
        <button>나의활동</button>
    </div>

    <div class="profileArea">

        <div class="imgArea">
            <img src="/images/logo.png" id="profileImg" alt="프로필 이미지">
        </div>



        <div class="imfoArea">
            <h5 id="cafeTitle">카페명</h5>
            <p id="joinDate">2024-04-22</p>
        </div>

    </div>

    <hr>

    <div class="memberCountArea">
        <p id="memberCount">145,890명</p>
    </div>

    <hr>

    <th:block>

        <div class="btnClass">
            <form action = "member/signup">
                <button id="joinBtn">가입하기</button>
            </form>
            <form action="member/login" method="GET">
                <button id="loginBtn">로그인</button>
            </form>
        </div>
    </th:block>
    <hr>

    <div class="menuList">
        <ul>
            <a href="/board/writeBoard">
                <li>글쓰기</li>
            </a>

            <li>메뉴 리스트2</li>
            <li>메뉴 리스트3</li>
            <li>메뉴 리스트5</li>
        </ul>
    </div>


</section>