<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 수정</title>
    <link rel="stylesheet" href="../css/myPage.css">
</head>

<body>
    <div class="container">
        <div class="container-header">
            <h2>프로필 수정</h2>
            <p>카페 대표 프로필과 닉네임을 수정하실 수 있습니다.</p>
        </div>

        <div class="container-body">
            <div class="row">
                <div class="row-left">
                    <p>프로필 사진</p>
                </div>
                <div>gd2</div>
            </div>
            <div class="row">
                <div class="row-left">
                    <p>별명</p>
                </div>
                <div>gd4</div>
            </div>
        </div>
    </div>
</body>

</html>