<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 수정</title>
    <link rel="stylesheet" href="/css/myPage.css">
</head>

<body>
    <th:block th:replace="~{common/header}"></th:block>
 
    <div class="wrapper-conatiner">

        
  
    <th:block th:replace="~{member/sideBar}"></th:block>
    
    <form action="profile" method="POST" id="profile" enctype="multipart/form-data">
    <div class="container">
        <div class="container-header">
            <h2>프로필 수정</h2>
            <p>카페 대표 프로필과 닉네임을 수정하실 수 있습니다.</p>
        </div>
        
        <div class="container-body">
                <div class="row">
                    <div class="row-left">
                        <p>프로필 사진</p>
                    </div>
                    
                    <div class="btn-area">
                        <span class="profile-circle">
                            <img th:with="user=#{user.default.image}" 
                            th:src="${session.loginMember.profileImg ?: user }" 
                            id="profileImg" style="width: 100%; height: 100%; object-fit: cover;">
                        </span>
                
                            <button type="button" id="uploadBtn">파일 선택</button>
                            <input type="file" name="profileImg" id="imageInput" style="display: none;" accept="image/*">
                            <button id="deleteImage" type="button">삭제</button>
                    </div>
                </div>
                
                <div class="row row2">
                    <div class="row-left">
                        <p>별명</p>
                    </div>
                    <div class="nickname-area">
                        <input type="text" name="memberNickname" id="memberNickname" th:value="${session.loginMember.memberNickname}" maxlength="10">
                        <p id="nicknameP">영어(대, 소문자), 특수문자(!, @, #, _ , -)로 이루어진 2 ~ 10글자 사이만 가능합니다.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="submit-area">
            <button>적용</button>
        </form>
        <form action="/" class="cancelForm">
            <button id="cancelBtn">취소</button>
        </form>
    </div>
</div>


    
    <th:block th:replace="~{common/footer}"></th:block>

    <script th:inline="javascript">
        const loginMemberProfileImg = /*[[${session.loginMember.profileImg}]]*/ "회원 프로필 이미지";
    </script>
    <script src = "/js/board/myPage.js"></script>
</body>

</html> 