<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boardDetail</title>

    <link rel="stylesheet" href="/css/board/boardDetail.css">
    <link rel="stylesheet" href="/css/board/comment.css">

</head>



<body>

    <main>
        <th:block th:replace="~{common/header}"></th:block>

        <th:block th:unless="${board!=null}">
            <h1>게시물이 존재하지 않습니다.</h1>
        </th:block>

        <th:block th:if="${board!=null}">
            <div class="boardDetailContainer">

                <h1 class="boardTitle" th:text="${board.boardTitle}">제목</h1>

                <hr>
                <div class="writer-date">
                    <span>
                        작성자 : [[${board.memberNickname}]]
                    </span>

                    <span>
                        작성일 : [[${board.boardWriteDate}]]
                    </span>

                </div>


                <hr>

                <div>
                    <div class="boardContent" th:text="${board.boardContent}">내용</div>
                </div>


                <th:block th:if="${ #lists.size(board.imageList) > 0}">
                    <th:block th:if="${#lists.size(board.imageList) > start}">
                        <h5>업로드 이미지</h5>
                        <div class="imgContainer">
                            <th:block th:each="i : ${#numbers.sequence(start, #lists.size(board.imageList) -1)}">
                                <div class="imgArea">
                                    <div class="boardImg">
                                        <img th:src="|${board.imageList[i].imgPath}${board.imageList[i].imgReName}|">
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </th:block>
                </th:block>


                <span th:if="${board.boardUpdateDate!=null}" id="udpateDate">
                    수정일 : [[${board.boardUpdateDate}]]
                </span>


                <div class="btnArea">
                    <button type="button" id="goListBtn">목록으로</button>
                    <th:block th:if="${board.memberNo == session.loginMember?.memberNo or session.loginMember.authority == 1}">
                        <button type="button" id="deleteBtn">삭제</button>
                        <button type="button" id="updateBtn">수정</button>
                    </th:block>
                </div>

            </div>
        </th:block>

        <th:block th:replace="~{board/comment}"></th:block>
    </main>

    <th:block th:replace="~{common/footer}"></th:block>
    <script src="/js/board/boardDetail.js"></script>
    <script src="/js/board/comment.js"></script>

    <script th:inline="javascript">
        const boardNo = /*[[${board.boardNo}]]*/ "게시글 번호";
        const loginMemberNo = /*[[${session.loginMember?.memberNo}]]*/ "로그인 회원 번호";
        const authority = /*[[${session.loginMember?.authority}]]*/ "로그인 회원 권한";
    </script>
</body>

</html>