<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/signup.css">
</head>
<body>
    <div id="parentContainer">
        <div id = "heading"><h1>비밀번호 찾기</h1></div>
        <form action="/member/findPw" method="POST">
            <div id="container">
                <h3>이메일 인증 후 찾기 가능합니다.</h3>
                <input type="text" name="memberEmail"  id="inputPass"  placeholder="이메일 입력">
                <button id="registerBtn"><b>비밀번호 찾기</b></button>
        </form>
    </div>
    <script th:inline="javascript">
        const message =  /*[[${message}]]*/ "전달 받은 message";
      
        if(message != null) alert(message);
    </script>
    <script src = "/js/board/signup.js"></script>

</body>
</html>