<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/signup.css">
</head>
<body>
    
    <div id="parentContainer">
        <form action="login" method="POST">
            <div id = "heading"><h1>로그인</h1></div>
            <div id="container">
                <input type="text" name="memberEmail" id="inputEmail" placeholder="이메일">  
                <input type="password" name="memberPw"  id="inputPass"  placeholder="비밀번호">
                <button id="registerBtn"><b>로그인</b></button>
            </div>
        </form>
    </div>
    
</body>
</html>